<h1>Posts</h1>

    <% @posts.each do |post| %>
      <%= link_to post_path(post.id) do %>
        <%= render 'post', post: post %>
      <% end %>
    <% end %>

<%= link_to 'New Post', new_post_path %>
